Входящий параметр - строка, содержащая арифметическое выражение
Надо: вычислить значение заданного выражения и вывести его на экран
Поддерживаемые операции:  + сложение- вычитание* умножение/ деление
Список операций может быть расширен
Порядок операций регулируется скобками
До выполнения вычислений необходимо отлавливать все виды ошибок, например: - Деление на 0
Числовые константы могут быть целыми и дробными.
Разделителем целой и дробной частей является точка.

Определенные сущности:
Operator - операция
Expression - арифметическое выражение
Parenthesis - скобка
Result - результат вычисления
Number - число, участвующее в арифметическом выражении
Calculator - основное приложение

